<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <link rel="preload" href="https://seankhliao.com/base.css" as="style" />

    <title>ReadSS | Sean Liao</title>

    <meta name="description" content="Sean's personal rss reader" />
    <meta name="theme-color" content="#000000" />

    <link rel="canonical" href="https://readss.seankhliao.com/" />
    <link rel="manifest" href="./manifest.json" />

    <link rel="icon" type="image/png" sizes="512x512" href="./icon-512.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="./icon-192.png" />
    <link rel="icon" type="image/png" sizes="64x64" href="./icon-64.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="./icon-32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./icon-16.png" />
    <link rel="apple-touch-icon" href="./icon-512.png" />
    <link rel="shortcut icon" href="./icon.ico" />

    <link href="https://fonts.googleapis.com/css?family=Archivo:400,400i|Lora:700" rel="stylesheet" />
    <link rel="stylesheet" href="https://seankhliao.com/base.css" />
    <script>
      navigator.serviceWorker &&
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("./sw.js");
        });
    </script>
<style>
header {
  height: 30vh;
}
</style>
  </head>
  <body>
    <header>
      <h1><a href="https://seankhliao.com/">S</h1>
      <h1><a href="https://seankhliao.com/">E</a></h1>
      <h1><a href="https://seankhliao.com/">A</a></h1>
      <h1><a href="https://seankhliao.com/">N</a></h1>
      <h2><a href="https://seankhliao.com/"><mark>K</mark></a></h2>
      <h2><a href="https://seankhliao.com/"><mark>.</mark></a></h2>
      <h2><a href="https://seankhliao.com/"><mark>H</mark></a></h2>
      <h2><a href="https://seankhliao.com/"><mark>.</mark></a></h2>
      <h2><a href="https://seankhliao.com/">L</a></h2>
      <h2><a href="https://seankhliao.com/">I</a></h2>
      <h2><a href="https://seankhliao.com/">A</a></h2>
      <h2><a href="https://seankhliao.com/">O</a></h2>
      <h3><mark>ReadSS</mark> rss reader</h3>
    </header>

    {{ with .Errors }}
    <section>
      <h5>Errors:</h5>
      <ul>
        {{ range . }}
        <li>{{ . }}</li>
        {{ end }}
      </ul>
    </section>
    {{ end }}

    <article>
      <h5>Articles</h5>
      <p><span>Last updated: <em><date>{{ .Updated }}</date></em></span></p>
      {{ with .Items }}
      <dl>
        {{ range . }}
        <dt><a href="{{ .Link }}">{{ .Title }}</a></dt>
        <dd><mark>{{ .Source }}</mark> <span><date>{{ .Updated }}</date></span></dd>
        {{ end }}
      </dl>
      {{ end }}
    </article>
  </body>
</html>
